<ul class="social_footer">
  {% if site.dribbble_url %}
  <li><a href="{{ site.dribbble_url }}" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="https://m.cafe.daum.net/basumukul/_rec?page=2" target="_blank"><i class="fa fa-coffee"
        aria-hidden="true"></i></a></li>
  {% endif %}
  {% if site.facebook_url %}
  <li><a href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>